<% layout('layout/layout') -%>
      <div class="row">
        <div class="alertContainer">
          <% if(success_msg != '') {%>
              <div class="alert alert-success"><%=success_msg%></div>
          <%} %>
          <% if(error_msg != '') {%>
              <div class="alert alert-danger"><%=error_msg%></div>
          <%} %>
            <% if(error != '') {%>
            <div class="alert alert-danger"><%=error%></div>
            <%} %>

          <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(function(elements){ %>
              <div class="alert alert-danger"><%= elements.msg %></div>
            <%}); %>

          <%} %>
          <form id="registerForm" method="post" action="/users/register">
             <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
             <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="passowrd form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="passowrd form-control" placeholder="Password" name="password2">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
      </div>

    </div> <!-- /container -->
